# MISC MVEBU

config MVEBU_SOC_INFO
	bool "Marvell Aramda-8K SoC information driver"
	depends on ARCH_MVEBU
	default y
	help
	  Marvell A8K SoC information driver

config MVEBU_A8K_DEBUGFS
	bool "Marvell Aramda-8K debugfs driver"
	depends on ARCH_MVEBU && ARM64
	default y
	help
	  Debugfs interface for Marvell's Armada-8K SoCs.
	  This drivers provide access (status and configuration) to
	  some SoC status and configuration registers.
