/*
 * Copyright (C) 2016 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Device Tree file for Marvell Armada 7020 AMC board
 * This board file supports the AMC board configuration
 */

#include "armada-7020.dtsi"

/ {
	model = "Marvell Armada-7020 AMC board setup";
	compatible = "marvell,armada7020-amc", "marvell,armada7020",
			"marvell,armada-ap806";

	#address-cells = <2>;
	#size-cells = <2>;

	chosen { };

	aliases {
		gpio1 = &cpm_gpio0;
		gpio2 = &cpm_gpio1;
		ethernet0 = &emac0;
		ethernet1 = &emac2;
		ethernet2 = &emac3;
	};

	ap806 {
		config-space {
			spi0: spi@510600 {
				status = "okay";
			};

			serial@512000 {
				status = "okay";
			};

			i2c@511000 {
				status = "okay";
				clock-frequency = <100000>;
			};
		};
	};

	cpn-110-master {
		config-space {
			pinctrl@440000 {
				compatible = "marvell,a70x0-pinctrl";

				i2c0_pins: i2c-pins-0 {
					marvell,pins = "mpp37", "mpp38";
					marvell,function = "i2c0";
				};

				i2c1_pins: i2c-pins-1 {
					marvell,pins = "mpp50", "mpp51";
					marvell,function = "i2c1";
				};

				cpm_sdhci_pins: cpm-sdhi-pins {
					marvell,pins = "mpp49", "mpp56", "mpp57", "mpp58",
							"mpp59", "mpp60", "mpp61";
					marvell,function = "sdio";
				};
			};

			rtc@284000 {
				status = "okay";
			};

			usb3h0: usb3@500000 {
				separated-phys-for-usb2-usb3;
				phys = <&utmi0>,
				       <&comphy0 1 COMPHY_USB3H0>;
				phy-names = "usb2", "usb3";
				status = "okay";
			};

			sata: sata@540000 {
				status = "okay";
				#stream-id-cells = <1>;

				sata-port@1 {
					phys = <&comphy0 5 COMPHY_SATA1>;
					phy-names = "comphy";
					status = "okay";
				};
			};

			sdhci@780000 {
				status = "okay";
			};

			i2c1: i2c@701000 {
				status = "okay";
				clock-frequency = <100000>;
			};

			i2c2: i2c@701100 {
				status = "okay";
				clock-frequency = <100000>;
			};

			nand@720000 {
				status = "okay";
			};

			mdio@12a200 {
				#address-cells = <1>;
				#size-cells = <0>;
				phy0: ethernet-phy@1 {
					reg = <1>;
				};
			};

			gop {
				emac0: mac0 {
					phy-mode = "sfi"; /*lane-4*/
					phys = <&comphy0 4 COMPHY_SFI>;
					phy-names = "comphy";
				};
				emac2: mac2 {
					phy-mode = "rgmii"; /* rgmii-1 */
					phy = <&phy0>;
				};
				emac3: mac3 {
					phy-mode = "none";
				};
			};

			ppv22@000000 {
				dma-coherent;
				eth0: eth0@010000 {
					status = "okay";
				};

				eth1: eth1@020000 {
					status = "okay";
				};
			};

			comphy {
				status = "okay";
			};
		};

		pcie@0x600000 {
			/* overwrite the PCIe memory address since it request for 64MB */
			ranges = <0x81000000 0 0xfa000000 0  0xfa000000 0 0x10000 /* downstream I/O */
				  0x82000000 0 0xf6000000 0  0xf6000000 0 0x6000000>; /* non-prefetchable memory */
			num-lanes = <4>;
			status = "okay";
		};
	};
};
