/****************************************************************************
* This program is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 2 of the License, or any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
* ***************************************************************************
*/

/*
 * Generic Device Tree describing Marvell Armada CP-110 device
 */

cp110_clk: clk@0x440700 {
	compatible = "marvell,armada-cp110-clock";
	reg = <0x440700 0x4>;
	#clock-cells = <1>;
};

gateclk: clock-gating-control@440220 {
	compatible = "marvell,armada-cp110-gating-clock";
	reg = <0x440220 0x4>;
	clocks = <&cp110_clk 3>;
	#clock-cells = <1>;
};

sata: sata@540000 {
	compatible = "marvell,armada-3700-ahci";
	reg = <0x540000 0x30000>;
	interrupts = <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&gateclk 15>, <&gateclk 16>;
	status = "disabled";
	port_base = <0x10000>;
	port_offset = <0x10000>;
};

usb3h0: usb3@500000 {
	compatible = "generic-xhci";
	reg = <0x500000 0x4000>;
	dma-coherent;
	interrupts = <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&gateclk 22>, <&gateclk 16>;
	status = "disabled";
};

usb3h1: usb3@510000 {
	compatible = "generic-xhci";
	reg = <0x510000 0x4000>;
	dma-coherent;
	interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&gateclk 23>, <&gateclk 16>;
	status = "disabled";
};

spi@700600 {
	compatible = "marvell,armada-380-spi";
	reg = <0x700600 0x50>;
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	cell-index = <0x0>;
	clocks = <&cp110_clk 3>;
	status = "disabled";
};

spi@700680 {
	compatible = "marvell,armada-380-spi";
	reg = <0x700680 0x50>;
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	cell-index = <0x0>;
	clocks = <&cp110_clk 3>;
	status = "disabled";
};

i2c1: i2c@701000 {
	compatible = "marvell,mv64xxx-i2c";
	reg = <0x701000 0x20>;
	#address-cells = <1>;
	#size-cells = <0>;
	interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>;
	timeout-ms = <1000>;
	clocks = <&cp110_clk 3>;
	status = "disabled";
};

i2c2: i2c@701100 {
	compatible = "marvell,mv64xxx-i2c";
	reg = <0x701100 0x20>;
	#address-cells = <1>;
	#size-cells = <0>;
	interrupts = <GIC_SPI 87 IRQ_TYPE_LEVEL_HIGH>;
	timeout-ms = <1000>;
	clocks = <&cp110_clk 3>;
	status = "disabled";
};
