// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for Marvell Armada 3720 development board
 * This board file supports the C configuration of the board
 */

#include "armada-3720-db.dts"
/* This file enables eth1 to work in SGMII mode with 1g or 2.5g fixed-link,
 * eth0 still works in RGMII mode.
 */
&eth1 {
	status = "okay";
	fixed-link {
		/*
		 * Here "speed" is set to 1000, GBE MAC is running in 1G mode,
		 * but the actual MAC speed may be 1 Gbps or 2.5 Gbps,
		 * it's up to the corresponding SERDES speed in u-boot fdt
		 * comphy node.
		 * If SERDES speed is set to 3.125G in u-boot, it implies sgmii
		 * 2.5 Gbps;
		 * if SERDES speed is set to 1.25G in u-boot, it implies sgmii 1
		 * Gbps.
		 */
		speed = <1000>;
		full-duplex;
	};
};
