// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for Marvell Armada 7040 development board
 * This board file supports the D configuration of the board
 */

#include "armada-7040-db.dtsi"

/ {
	model = "Marvell Armada 7040 development board D setup";
	compatible = "marvell,armada7040-db-D", "marvell,armada7040-db",
		     "marvell,armada7040", "marvell,armada-ap806-quad",
		     "marvell,armada-ap806";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &cp0_eth0;
		ethernet1 = &cp0_eth2;
	};

	sfp_eth0: sfp-eth0 {
		compatible = "sff,sfp";
	};
};

&uart0 {
	status = "okay";
};

&ap_sdhci0 {
	status = "okay";
};

&cp0_pinctrl {
	pca0_pins: pca0_pins {
		marvell,pins = "mpp7";
		marvell,function = "gpio";
	};
};

&cp0_i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	expander0: pca9555@21 {
		compatible = "nxp,pca9555";
		pinctrl-0 = <&pca0_pins>;
		/* GPIO 62 is defined as GPIO 30 of cp0_gpio1 */
		interrupt-parent = <&cp0_gpio1>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;
		/*
		 * IO0_0: USB3_PWR_EN0	IO1_0: USB_3_1_Dev_Detect
		 * IO0_1: USB3_PWR_EN1	IO1_1: USB2_1_current_limit
		 * IO0_2: DDR3_4_Detect	IO1_2: Hcon_IO_RstN
		 * IO0_3: USB2_DEVICE_DETECT
		 * IO0_4: GPIO_0	IO1_4: SD_Status
		 * IO0_5: GPIO_1	IO1_5: LDO_5V_Enable
		 * IO0_6: IHB_5V_Enable	IO1_6: PWR_EN_eMMC
		 * IO0_7:		IO1_7: SDIO_Vcntrl
		 */
	};
};

&cp0_nand {
	status = "okay";
};

&cp0_pcie0 {
	status = "okay";
	phys = <&cp0_comphy0 0>;
	phy-names = "pcie-phy0";
};

&cp0_pcie2 {
	status = "okay";
	phys = <&cp0_comphy5 2>;
	phy-names = "pcie-phy0";
};

&cp0_sata0 {
	status = "okay";

	sata-port@1 {
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp0_comphy3 1>;
	};
};

&cp0_usb3_1 {
	status = "okay";
};

&cp0_mdio {
	status = "okay";

	cp0_phy0: ethernet-phy@0 {
		reg = <0>;
	};
	cp0_phy1: ethernet-phy@3 {
		reg = <1>;
	};
};

&cp0_ethernet {
	status = "okay";
};

&cp0_eth0 {
	status = "okay";
	/* Network PHY */
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp0_comphy2 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth0>;
};

&cp0_eth2 {
	status = "okay";
	phy = <&cp0_phy1>;
	phy-mode = "rgmii-id";
};
