/*
 * Copyright (C) 2017 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Device Tree file for Marvell Armada-8164 Development board platform
 */

#include "armada-8164-db.dtsi"

/ {
	model = "Marvell Armada 8164 DB board";
	compatible = "marvell,armada-8164-db", "marvell,armada-8164",
		     "marvell,armada-ap810-octa", "marvell,armada-ap810";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory0@ap0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

&ap0_xor0 {
	status = "disabled";
};

&ap0_xor1 {
	status = "disabled";
};

&ap1_xor0 {
	status = "disabled";
};

&ap1_xor1 {
	status = "disabled";
};

&cp0_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp0_comphy5 1>;
	};
};

&cp0_pcie0 {
	status = "okay";
	msi-parent = <&ap0_gic_its>;

	/* Generic PHY, providing serdes lanes */
	phys = <&cp0_comphy0 0
		&cp0_comphy1 0
		&cp0_comphy2 0
		&cp0_comphy3 0>;
	phy-names = "pcie-phy0", "pcie-phy1", "pcie-phy2", "pcie-phy3";
};

&cp0_pcie1 {
	msi-parent = <&ap0_gic_its>;
};

&cp0_pcie2 {
	msi-parent = <&ap0_gic_its>;
};

&cp1_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp1_comphy5 1>;
	};
};

&cp1_pcie0 {
	status = "okay";
	msi-parent = <&ap0_gic_its>;

	/* Generic PHY, providing serdes lanes */
	phys = <&cp1_comphy0 0
		&cp1_comphy1 0
		&cp1_comphy2 0
		&cp1_comphy3 0>;
	phy-names = "pcie-phy0", "pcie-phy1", "pcie-phy2", "pcie-phy3";
};

&cp1_pcie1 {
	msi-parent = <&ap0_gic_its>;
};

&cp1_pcie2 {
	msi-parent = <&ap0_gic_its>;
};

&cp4_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp4_comphy5 1>;
	};
};

&cp4_pcie0 {
	status = "okay";
	msi-parent = <&ap1_gic_its>;

	/* Generic PHY, providing serdes lanes */
	phys = <&cp4_comphy0 0
		&cp4_comphy1 0
		&cp4_comphy2 0
		&cp4_comphy3 0>;
	phy-names = "pcie-phy0", "pcie-phy1", "pcie-phy2", "pcie-phy3";
};

&cp4_pcie1 {
	msi-parent = <&ap1_gic_its>;
};

&cp4_pcie2 {
	msi-parent = <&ap1_gic_its>;
};

&cp5_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp5_comphy5 1>;
	};
};

&cp5_pcie0 {
	msi-parent = <&ap1_gic_its>;
};

&cp5_pcie1 {
	msi-parent = <&ap1_gic_its>;
};

&cp5_pcie2 {
	msi-parent = <&ap1_gic_its>;
};
