// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2016 Marvell Technology Group Ltd.
 *
 * Device Tree file for Marvell Armada 8040 Development board platform
 */

#include <dt-bindings/gpio/gpio.h>
#include "armada-8040-db.dtsi"

/ {
	model = "Marvell Armada 8040 development board default (A) setup";
	compatible = "marvell,armada8040-db-default", "marvell,armada8040-db",
		"marvell,armada8040", "marvell,armada-ap806-quad",
		"marvell,armada-ap806";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	aliases {
		ethernet0 = &cp0_eth0;
		ethernet1 = &cp0_eth2;
		ethernet2 = &cp1_eth0;
		ethernet3 = &cp1_eth1;
	};
};

/* Accessible over the mini-USB CON9 connector on the main board */
&uart0 {
	status = "okay";
};

/* CON6 on CP0 expansion */
&cp0_pcie0 {
	status = "okay";
	phys = <&cp0_comphy0 0>;
};

/* CON5 on CP0 expansion */
&cp0_pcie2 {
	status = "okay";
	phys = <&cp0_comphy5 2>;
};

&cp0_i2c0 {
	status = "okay";
};

&cp0_sata0 {
	status = "okay";
	/* CON2 on CP0 expansion */
	sata-port@0 {
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp0_comphy1 0>;
	};
	/* CON4 on CP0 expansion */
	sata-port@1 {
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp0_comphy3 1>;
	};
};

/* CON9 on CP0 expansion */
&cp0_usb3_0 {
	status = "okay";
};

/* CON10 on CP0 expansion */
&cp0_usb3_1 {
	status = "okay";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp0_comphy4 1>;
	phy-names = "usb";
};

&cp0_mdio {
	status = "okay";

	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&cp0_ethernet {
	status = "okay";
};

&cp0_eth0 {
	status = "okay";
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp0_comphy2 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth0>;
};

&cp0_eth2 {
	status = "okay";
	phy = <&phy1>;
	phy-mode = "rgmii-id";
};

/* CON6 on CP1 expansion */
&cp1_pcie0 {
	status = "okay";
	phys = <&cp1_comphy0 0>;
};

/* CON7 on CP1 expansion */
&cp1_pcie1 {
	status = "okay";
	phys = <&cp1_comphy4 1>;
};

/* CON5 on CP1 expansion */
&cp1_pcie2 {
	status = "okay";
	phys = <&cp1_comphy5 2>;
};

&cp1_i2c0 {
	status = "okay";
	clock-frequency = <100000>;
};

&cp1_spi1 {
	status = "okay";
};

/*
 * Proper NAND usage will require DPR-76 to be in position 1-2, which disables
 * MDIO signal of CP1.
 */
&cp1_nand_controller {
	pinctrl-0 = <&nand_pins>, <&nand_rb>;
	pinctrl-names = "default";
};

&cp1_sata0 {
	status = "okay";
	/* CON2 on CP1 expansion */
	sata-port@0 {
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp1_comphy1 0>;
	};
	/* CON4 on CP1 expansion */
	sata-port@1 {
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp1_comphy3 1>;
	};
};

/* CON9 on CP1 expansion */
&cp1_usb3_0 {
	status = "okay";
};

/* CON10 on CP1 expansion */
&cp1_usb3_1 {
	status = "okay";
};

&cp1_mdio {
	status = "okay";

	phy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&cp1_ethernet {
	status = "okay";
};

&cp1_eth0 {
	status = "okay";
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp1_comphy2 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth1>;
};

&cp1_eth1 {
	status = "okay";
	phy = <&phy0>;
	phy-mode = "rgmii-id";
};

&ap_sdhci0 {
	status = "okay";
	bus-width = <8>;
	/* The below property should be added to boards with AP806-B0
	 * for enabling HS400 speed mode. Otherwise the device highest
	 * speed mode will be HS200.
	 * Should not be added to boards with earlier release of AP806
	 * since it will cause SDHCI driver to fail upon initialization.
	 *
	 * mmc-hs400-1_8v;
	 */
	non-removable;
};

&cp0_sdhci0 {
	status = "okay";
};

&cp0_crypto {
	status = "okay";
};

&cp1_crypto {
	status = "okay";
};
