/*
 * Copyright (C) 2016 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Example device tree for Armada 8040
 * Customer may use this file as a reference.
 * Each field that needs to be update (phys, mpps, addresses, frequencies)
 * is marked with "UPDATE" comment.
 *
 * NOTE: all interfaces are disabled!
 *
 * Refer to ./Documentation/mvebu/porting_guide.txt for for information
 */

/* UPDATE
 * Include one of the following dtsi files:
 *	armada-8040.dtsi - used for quad core
 *	armada-8020.dtsi - used for dual core
 */
#include "armada-8040.dtsi"

/ {
	/* UPDATE */
	model = "customer board model";
	/* UPDATE
	 * marvell,armada-ap806-quad - used for quad core
	 * marvell,armada-ap806-dual - used for dual core
	 * NOTE: The compatile MUST match the included *.dtsi file
	 */
	compatible = "customer-board-compatible", "marvell,armada8040",
		     "marvell,armada-ap806-quad", "marvell,armada-ap806";
	#address-cells = <2>;
	#size-cells = <2>;

	/* UPDATE */
	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	ap806 {
		config-space {
			serial@512000 {
				status = "disabled";
			};
			spi0: spi@510600 {
				status = "disabled";
				/* UPDATE */
				spi-flash@0 {
					#address-cells = <0x1>;
					#size-cells = <0x1>;
					compatible = "jedec,spi-nor";
					reg = <0x0>;
					spi-max-frequency = <20000000>;
					partition@0 {
						label = "boot";
						reg = <0x0 0x200000>;
					};
					partition@200000 {
						label = "Filesystem";
						reg = <0x200000 0xd00000>;
					};
					partition@d00000 {
						label = "boot_2nd";
						reg = <0xf00000 0x100000>;
					};
				};
			};
			i2c@511000 {
				status = "disabled";
				/* UPDATE */
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&ap_i2c0_pins>;
				eeprom@57 {
					/* UPDATE */
					compatible = "at24,24c64";
					reg = <0x57>;
					pagesize = <32>;
				};
				eeprom@50 {
					/* UPDATE */
					compatible = "at24,24c64";
					reg = <0x50>;
					pagesize = <32>;
				};
			};

		};
	};

	cpn-110-master {
		config-space {
			sata@540000 {
				status = "disabled";

				sata-port@0 {
					/* UPDATE */
					phys = <&comphy0 1 COMPHY_SATA0>;
					phy-names = "comphy";
					status = "disabled";
				};
				sata-port@1 {
					/* UPDATE */
					phys = <&comphy0 3 COMPHY_SATA1>;
					phy-names = "comphy";
					status = "disabled";
				};
			};
			usb3h0: usb3@500000 {
				status = "disabled";
			};
			usb3h1: usb3@510000 {
				status = "disabled";
			};
			sdhci@780000 {
				status = "disabled";
			};
			mdio@12a200 {
				#address-cells = <1>;
				#size-cells = <0>;
				/* UPDATE */
				phy2: ethernet-phy@2 {
					reg = <0>;
				};
				/* UPDATE */
				phy3: ethernet-phy@3 {
					reg = <1>;
				};
			};
			gop {
				emac0: mac0 {
					/* UPDATE */
					phy-mode = "sfi"; /* lane-2 */
					/* UPDATE */
					phys = <&comphy0 2 COMPHY_SFI>;
					phy-names = "comphy";
				};
				emac2: mac2 {
					/* UPDATE */
					phy-mode = "rgmii"; /* rgmii-0 */
					phy = <&phy2>;
				};
				emac3: mac3 {
					/* UPDATE */
					phy-mode = "rgmii"; /* rgmii-1 */
					phy = <&phy3>;
				};
			};
			ppv22@000000 {
				/* UPDATE */
				pinctrl-names = "default";
				pinctrl-0 = <&cpm_ge2_rgmii_pins>; /* RGMII mpps */

				eth0: eth0@010000 {
					status = "disabled";
				};
				eth1: eth1@020000 {
					status = "disabled";
				};
				eth2: eth2@030000 {
					status = "disabled";
				};
			};
			comphy {
				status = "disabled";
			};
			pinctrl@440000 {
				/* UPDATE */
				xhci0_vbus_pins: xhci0-vbus-pins {
					marvell,pins = "mpp47";
					marvell,function = "gpio";
				};
			};
		};

		pcie@0x640000 {
			status = "disabled";
		};
		reg_usb3h0_vbus: usb3-vbus0 {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&xhci0_vbus_pins>;
			regulator-name = "reg-usb3h0-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&cpm_gpio1 15 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		vccq_sdio_reg: regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "vccq-sdio-reg";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			status = "okay";
		};

	};
	cpn-110-slave {
		config-space {
			usb3h0_1: usb3@500000 {
				status = "disabled";
			};
			sata@540000 {
				status = "disabled";

				sata-port@0 {
					/* UPDATE */
					phys = <&comphy1 1 COMPHY_SATA0>;
					phy-names = "comphy";
					status = "disabled";
				};
				sata-port@1 {
					/* UPDATE */
					phys = <&comphy1 3 COMPHY_SATA1>;
					phy-names = "comphy";
					status = "disabled";
				};
			};
			mdio@12a200 {
				/* UPDATE */
				#address-cells = <1>;
				#size-cells = <0>;
				phy2_1: ethernet-phy@2 {
					reg = <0>;
				};
			};
			gop {
				emac0_1: mac0 {
					/* UPDATE */
					phy-mode = "sfi"; /* lane-2 */
					phys = <&comphy1 2 COMPHY_SFI>;
					phy-names = "disabled";
				};
				emac2_1: mac2 {
					/* UPDATE */
					phy-mode = "rgmii"; /* rgmii-0 */
					phy = <&phy2_1>;
				};
				emac3_1: mac3 {
					/* UPDATE */
					phy-mode = "sgmii"; /* lane-4 */
				};
			};
			ppv22@000000 {
				/* UPDATE */
				pinctrl-names = "default";
				pinctrl-0 = <&cps_ge1_rgmii_pins>;

				eth0_1: eth0@010000 {
					status = "disabled";
				};
				eth1_1: eth1@020000 {
					status = "disabled";
				};
				eth2_1: eth2@030000 {
					status = "disabled";
				};
			};
			comphy {
				status = "disabled";
			};
			nand@720000 {
				status = "disabled";
			};
			tdm@7a0000 {
				/* UPDATE */
				pinctrl-0 = <&cps_tdm_pins>;
				pinctrl-names = "default";
				pclk-freq-mhz = <8>;
				status = "disabled";
			};
		};
		pcie@0x640000 {
			status = "disabled";
		};
	};
};

