/*
 * Copyright (C) 2017 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "armada-7040.dtsi"

/ {
	model = "Marvell Armada 3900-Z1";
	compatible = "marvell,armada7040", "marvell,armada-ap806-quad",
		     "marvell,armada-ap806";
	#address-cells = <2>;
	#size-cells = <2>;

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	aliases {
		ethernet0 = &cp0_emac0;
		ethernet1 = &cp0_emac2;
	};

	cpus {
		/delete-node/idle_states;
		cpu@000 {
			/delete-property/cpu-idle-states;
		};
		cpu@001 {
			/delete-property/cpu-idle-states;
		};
		cpu@100 {
			/delete-property/cpu-idle-states;
		};
		cpu@101 {
			/delete-property/cpu-idle-states;
		};
	};
	ap806 {
		config-space {
			serial@512000 {
				status = "okay";
			};
			i2c@511000 {
				status = "okay";
				clock-frequency = <100000>;
			};

			spi0: spi@510600 {
				status = "okay";
				spi-flash@0 {
					#address-cells = <0x1>;
					#size-cells = <0x1>;
					compatible = "jedec,spi-nor";
					reg = <0x0>;
					spi-max-frequency = <20000000>;
					partition@0 {
						label = "boot";
						reg = <0x0 0x500000>;
					};
					partition@500000 {
						label = "env";
						reg = <0x500000 0xb00000>;
					};
				};
			};
			thermal: thermal@6f808c {
				compatible = "marvell,armada-ap807-thermal";
			};
			ap806_clock: ap806_clock@6f8200 {
				compatible = "marvell,ap807-cpu-clk", "syscon";
			};
		};
	};

	cp0 {
		config-space {
			nand@720000 {
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				status = "okay";
				partition@1000000 {
					label = "rootfs";
					reg = <0x1000000 0x1f800000>;
				};
				partition@20800000 {
					label = "alt_rootfs";
					reg = <0x20800000 0x1f800000>;
				};
			};
			cp0_i2c0: i2c@701000 {
				status = "disabled";
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins>;

				eeprom@57 {
					compatible = "atmel,24c64";
					reg = <0x57>;
					pagesize = <32>;
				};

				eeprom@50 {
					compatible = "atmel,24c64";
					reg = <0x50>;
					pagesize = <32>;
				};
			};
			mdio@12a600 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				phy0: ethernet-phy@0 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0>;
					max-speed = <5000>;
					marvell,c45-reg-init = <1 0xc000 0xfffe 0x1>; /* setup lane swap */
				};
				phy1: ethernet-phy@1 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <1>;
					marvell,c45-reg-init = <1 0xc000 0xfffe 0x1>; /* setup lane swap */
				};
			};
			gop {
				cp0_emac0: mac0 {
					phy-mode = "sfi";
					phy-speed = <5000>;
					phys = <&cp0_comphy 2 COMPHY_SFI0>;
					phy-names = "comphy";
					phy = <&phy0>;
				};
				cp0_emac2: mac2 {
					phy-names = "comphy";
					phy = <&phy1>;
				};
			};
			ppv22@000000 {
				l4_chksum_jumbo_port = <0>;
				eth0: eth0@010000 {
					status = "okay";
				};
				eth1: eth1@020000 {
					status = "okay";
				};
			};
			comphy {
				skip_pcie_power_off;
			};
		};
		pcie0@600000 {
			status = "okay";
			ranges = <0x81000000 0 0xf7000000 0  0xf7000000 0 0x10000	/* downstream I/O */
				  0x82000000 0 0xc0000000 0  0xc0000000 0 0x20000000>;	/* non-prefetchable memory */
		};
		pcie2@640000 {
			status = "okay";
			phys = <&cp0_comphy 5 COMPHY_PCIE2>;
			phy-names = "pcie-phy0";
			ranges = <0x81000000 0 0xf7020000 0  0xf7020000 0 0x10000	/* downstream I/O */
				  0x82000000 0 0xf8000000 0  0xf8000000 0 0xf00000>;	/* non-prefetchable memory */
		};
	};

	/* USB3 VBus controller through GPIO */
	usb3h0_phy: usb3-h0-phy {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&cp0_reg_usb3_vbus0>;
	};
	usb3h1_phy: usb3-h1-phy {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&cp0_reg_usb3_vbus1>;
	};
	cp0_reg_usb3_vbus0: cp0_usb3_vbus@0 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&cp0_xhci0_vbus_pins>;
		regulator-name = "cp0-xhci0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
	};
	cp0_reg_usb3_vbus1: cp0_usb3_vbus@1 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&cp0_xhci1_vbus_pins>;
		regulator-name = "cp0-xhci1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
	};
};
