/*
 * Copyright (C) 2017 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Device Tree file for Marvell Armada-8084 Development board platform
 */

#include "armada-8084-db.dtsi"

/ {
	model = "Marvell 8084 board";
	compatible = "marvell,armada-8084-db", "marvell,armada-8084",
		     "marvell,armada-ap810-octa", "marvell,armada-ap810";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	aliases {
		ethernet0 = &cp0_eth0;
		ethernet1 = &cp0_eth1;
		ethernet2 = &cp0_eth2;
		ethernet3 = &cp1_eth0;
		ethernet4 = &cp2_eth0;
		ethernet5 = &cp3_eth0;
		spi0 = &ap0_spi0;
	};

	sfp_eth0: sfp-eth0 {
		compatible = "sff,sfp";
	};

	sfp_eth1: sfp-eth1 {
		compatible = "sff,sfp";
	};

	sfp_eth2: sfp-eth2 {
		compatible = "sff,sfp";
	};

	sfp_eth3: sfp-eth3 {
		compatible = "sff,sfp";
	};
};

&ap0_spi0 {
	status = "okay";
};

&ap0_xor0 {
	status = "disabled";
};

&ap0_xor1 {
	status = "disabled";
};

&ap0_xor2 {
	status = "disabled";
};

&ap0_xor3 {
	status = "disabled";
};

&cp0_sdhci0 {
	status = "okay";
	bus-width = <4>;
	no-1-8-v;
	non-removable;
};

&cp0_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp0_comphy5 1>;
	};
};

&cp0_pcie0 {
	status = "okay";
	msi-parent =<&ap0_gic_its>;

	/* Generic PHY, providing serdes lanes */
	phys = <&cp0_comphy0 0
		&cp0_comphy1 0
		&cp0_comphy2 0
		&cp0_comphy3 0>;
};

&cp0_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp0_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp0_mdio {
	status = "okay";

	phy0: ethernet-phy@0 {
		reg = <0>;
	};

	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&cp0_i2c0 {
	status = "okay";
};

&cp0_ethernet {
	status = "okay";
};

&cp0_eth0 {
	status = "okay";
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp0_comphy4 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth0>;
};

&cp0_eth1 {
	status = "okay";
	phy = <&phy0>;
	phy-mode = "rgmii-id";
};

&cp0_eth2 {
	status = "okay";
	phy = <&phy1>;
	phy-mode = "rgmii-id";
};

&cp1_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp1_comphy5 1>;
	};
};

&cp1_pcie0 {
	status = "okay";
	msi-parent =<&ap0_gic_its>;

	/* Generic PHY, providing serdes lanes */
	phys = <&cp1_comphy0 0
		&cp1_comphy1 0
		&cp1_comphy2 0
		&cp1_comphy3 0>;
};

&cp1_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp1_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp1_ethernet {
	status = "okay";
};

&cp1_eth0 {
	status = "okay";
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp1_comphy4 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth1>;
};

&cp2_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp2_comphy5 1>;
	};
};

&cp2_pcie0 {
	msi-parent =<&ap0_gic_its>;
};

&cp2_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp2_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp2_ethernet {
	status = "okay";
};

&cp2_eth0 {
	status = "okay";
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp2_comphy4 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth2>;
};

&cp3_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
		/* Generic PHY, providing serdes lanes */
		phys = <&cp3_comphy5 1>;
	};
};

&cp3_pcie0 {
	msi-parent =<&ap0_gic_its>;
};

&cp3_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp3_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp3_ethernet {
	status = "okay";
};

&cp3_eth0 {
	status = "okay";
	phy-mode = "10gbase-kr";
	/* Generic PHY, providing serdes lanes */
	phys = <&cp3_comphy4 0>;
	managed = "in-band-status";
	sfp = <&sfp_eth3>;
};
