/*
 * Copyright (C) 2017 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Device Tree file for OCP Armada 8040 board platform
 */

#include "armada-8040.dtsi"

/ {
	model = "Armada 8040 OCP";
	compatible = "marvell,armada8040-ocp", "marvell,armada8040",
			"marvell,armada-ap806-quad", "marvell,armada-ap806";

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	aliases {
		ethernet0 = &cpm_emac0;
		ethernet1 = &cps_emac0;
	};

	ap806 {
		config-space {
			serial@512000 {
				status = "okay";
			};
			sdhci@6e0000 {
				vqmmc-supply = <&vccq_mmc_reg>;
				bus-width = <8>;
				no-1-8-v;
				non-removable;
				marvell,xenon-emmc;
				status = "okay";
			};
			vccq_mmc_reg: regulator@0 {
				compatible = "regulator-fixed";
				regulator-name = "vccq-mmc-reg";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				status = "okay";
			};
		};
	};

	cpn-110-master {
		config-space {
			pinctrl@440000 {
				xhci0_vbus_pins: xhci0-vbus-pins {
					marvell,pins = "mpp47";
					marvell,function = "gpio";
				};
			};
			cpm_comphy: comphy {
				skip_pcie_power_off;
				status = "okay";
			};
			i2c@701000 {
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&cpm_i2c0_pins>;
				status = "disabled";
			};
			gop {
				cpm_emac0: mac0 {
					phys = <&cpm_comphy 4 COMPHY_SFI>;
					phy-names = "comphy";
					phy-mode = "sfi"; /* lane-4 */
				};
				cpm_emac2: mac2 {
					phy-mode = "none";
				};
				cpm_emac3: mac3 {
					phy-mode = "none";
				};
			};
			ppv22@000000 {
				l4_chksum_jumbo_port = <0>;
				pinctrl-names = "default";
				cpm_eth0: eth0@010000 {
					status = "okay";
				};
			};
			reg_usb3h0_vbus: usb3-vbus0 {
				compatible = "regulator-fixed";
				pinctrl-names = "default";
				pinctrl-0 = <&xhci0_vbus_pins>;
				regulator-name = "reg-usb3h0-vbus";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				enable-active-high;
				gpio = <&cpm_gpio1 15 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
		};

		pci-ep-uio {
			compatible = "marvell,pci-ep-uio";
			reg = <0 0 0 0x100000>, <0x80 0x00000000 0x1 0x000000000>;
			reg-names = "bar0", "host-map";
			device-id = <0x7080>;
			class-code = <0x2>;
			subclass-code = <0x0>;
			status = "okay";
		};

		pcie-ep@600000 {
			status = "okay";
		};
	};

	cpn-110-slave {
		config-space {
			cps_comphy: comphy {
				status = "okay";
			};
			cps_usb3h0: usb3@500000 {
				usb-phy = <&cps_usb3h0_phy>;
				separated-phys-for-usb2-usb3;
				phys = <&cps_utmi0>,
				       <&cps_comphy 2 COMPHY_USB3H0>;
				phy-names = "usb2", "usb3";
				status = "okay";
			};
			cps_usb3h0_phy: usb3_phy0 {
				compatible = "usb-nop-xceiv";
				vcc-supply = <&reg_usb3h0_vbus>;
			};
			gop {
				cps_emac0: mac0 {
					phys = <&cps_comphy 4 COMPHY_SFI>;
					phy-names = "comphy";
					phy-mode = "sfi"; /* lane-4 */
				};
				cps_emac2: mac2 {
					phy-mode = "none";
				};
				cps_emac3: mac3 {
					phy-mode = "none";
				};
			};
			ppv22@000000 {
				l4_chksum_jumbo_port = <0>;
				pinctrl-names = "default";
				cps_eth0: eth0@010000 {
					status = "okay";
				};
				cps_eth1: eth1@020000 {
					status = "disabled";
				};
				cps_eth2: eth2@030000 {
					status = "disabled";
				};
			};
		};
	};
};

