/*
 * Device Tree file for Marvell Armada 3720 development board
 * (DB-88F3720-DDR3)
 * Copyright (C) 2016 Marvell
 *
 * Gregory CLEMENT <gregory.clement@free-electrons.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "armada-372x.dtsi"

/ {
	model = "Marvell Armada 3720 Development Board DB-88F3720-DDR3";
	compatible = "marvell,armada-3720-db", "marvell,armada3720", "marvell,armada3710";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x20000000>;
	};

	soc {
		internal-regs {
			spi0: spi@10600 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi_quad_pins>;
				status = "okay";

				m25p80@0 {
					compatible = "jedec,spi-nor";
					reg = <0>;
					spi-max-frequency = <108000000>;
					spi-rx-bus-width = <4>;
					spi-tx-bus-width = <4>;

					partitions {
						compatible = "fixed-partitions";
						#address-cells = <1>;
						#size-cells = <1>;
						partition@0 {
							label = "bootloader";
							reg = <0x0 0x200000>;
						};
						partition@200000 {
							label = "U-boot Env";
							reg = <0x200000 0x10000>;
						};
						partition@210000 {
							label = "Linux";
							reg = <0x210000 0xDF0000>;
						};
					};
				};
			};

			i2c0: i2c@11000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c1_pins>;
				status = "okay";
				expander0: pca9555@22 {
					compatible = "nxp,pca9555";
					reg = <0x22>;
					gpio-controller;
					#gpio-cells = <2>;
				};
			};

			i2c1: i2c@11080 {
				status = "okay";
			};

			reg_avs: avs@11500 {
				status = "okay";
			};

			/*
			* Exported on the micro USB connector CON32
			* through an FTDI
			*/
			uart0: serial@12000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart1_pins>;
				status = "okay";
			};

			uart1: serial@12200 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart2_pins>;
				status = "okay";
			};

			eth0: ethernet@30000 {
				pinctrl-names = "default";
				pinctrl-0 = <&rgmii_pins>, <&smi_pins>;
				phy-mode = "rgmii-id";
				phy = <&phy0>;
				status = "okay";
				buffer-manager = <&bm>;
				bm,pool-long = <1>;
				bm,pool-short = <3>;
			};

			mdio@32004 {
				phy0: ethernet-phy@0 {
					reg = <0>;
				};
				phy1: ethernet-phy@1 {
					reg = <1>;
				};
			};

			u3d@50000 {
				status = "okay";
				phys = <&a3700_comphy 0 COMPHY_USB3>;
				phy-names = "usb";
			};

			udc@54100 {
				status = "okay";
				phys = <&utmi_usb32>;
				phy-names = "usb";
			};

			/* CON31 */
			usb3@58000 {
				status = "okay";
				usb-phy = <&usb_phy>;
				phys = <&utmi_usb32>, /* utmi usb32 dedicated phy */
				       <&a3700_comphy 0 COMPHY_USB3>; /* usb3 comphy */
				phy-names = "usb2", "usb3";
			};

			utmi_usb32: utmi@5d000 {
				status = "okay";
			};

			usb@5e000 {
				status = "okay";
				phys = <&utmi_usb2>;
				phy-names = "usb";
			};

			utmi_usb2: utmi@5f000 {
				status = "okay";
			};

			usb_phy: usb_phy@5d800 {
				vcc-supply = <&exp_usb3_vbus>;
				status = "okay";
			};

			interrupt-controller@74840 {
				status = "okay";
			};

			sdhci1: sdhci@d0000 {
				wp-inverted;
				bus-width = <4>;
				cd-gpios = <&gpiosb 2 GPIO_ACTIVE_LOW>;
				vqmmc-supply = <&vcc_sd_reg1>;
				marvell,pad-type = "sd";
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&sdio_pins>;
			};

			sdhci0: sdhci@d8000 {
				marvell,pad-type = "fixed-1-8v";
				non-removable;
				bus-width = <8>;
				mmc-ddr-1_8v;
				mmc-hs400-1_8v;
				marvell,xenon-emmc;
				marvell,xenon-tun-count = <9>;
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&mmc_pins>;
			};

			/* CON3 */
			sata@e0000 {
				target-supply = <&reg_5v_sata>;
				phys = <&a3700_comphy 2 COMPHY_SATA0>;
				status = "okay";
			};

			vcc_sd_reg1: regulator@0 {
				compatible = "regulator-gpio";
				regulator-name = "vcc_sd1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				gpios = <&gpiosb 23 GPIO_ACTIVE_HIGH>;
				gpios-states = <0>;
				states = <1800000 0x1
					  3300000 0x0>;

				enable-active-high;
			};
			bm: bm@c0000 {
				status = "okay";
			};
			bm_bppi: bm-bppi {
				status = "okay";
			};
			eip97: eip97@90000 {
				status = "okay";
			};
		};

		reg_sata: pwr-sata {
			compatible = "regulator-fixed";
			regulator-name = "pwr_en_sata";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			enable-active-high;
			regulator-boot-on;
			gpio = <&expander0 2 GPIO_ACTIVE_HIGH>;
		};

		reg_5v_sata: v5-sata {
			compatible = "regulator-fixed";
			regulator-name = "v5.0-sata";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&reg_sata>;
		};

		reg_12v_sata: v12-sata {
			compatible = "regulator-fixed";
			regulator-name = "v12.0-sata";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			vin-supply = <&reg_sata>;
		};

	};

	exp_usb3_vbus: usb3-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb3-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&expander0 1 GPIO_ACTIVE_HIGH>;
	};
};

/* CON17 (PCIe) / CON12 (mini-PCIe) */
&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	status = "okay";
	phys = <&a3700_comphy 1 COMPHY_PCIE0>;
	phy-names = "comphy";
	reset-gpios = <&gpiosb 3 GPIO_ACTIVE_HIGH>;
};
