/*
 * Device Tree file for Marvell Armada 3720 community board
 * Copyright (C) 2016 Marvell
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "armada-372x.dtsi"

/ {
	model = "Marvell Armada 3720 Community Board";
	compatible = "marvell,armada-3720-community", "marvell,armada3720", "marvell,armada3710";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x20000000>;
	};

	soc {
		internal-regs {
			uart0: serial@12000 {
				status = "okay";
			};

			i2c0: i2c@11000 {
				status = "okay";
			};

			i2c1: i2c@11080 {
				status = "okay";
			};

			reg_avs: avs@11500 {
				status = "okay";
			};

			eth0: ethernet@30000 {
				pinctrl-names = "default";
				pinctrl-0 = <&rgmii_pins>, <&smi_pins>;
				phy-mode = "rgmii-id";
				status = "okay";
				buffer-manager = <&bm>;
				bm,pool-long = <1>;
				bm,pool-short = <3>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			mdio: mdio@32004 {
				switch0: switch@0 {
					compatible = "marvell,mv88e6085";
					reg = <1>;

					mdio@0 {
						#address-cells = <1>;
						#size-cells = <0>;

						phy1: phy1@1 {
							reg = <17>;
						};
						phy2: phy2@2 {
							reg = <18>;
						};
						phy3: phy3@3 {
							reg = <19>;
						};
					};
				};
			};

			u3d@50000 {
				status = "disabled";
				phys = <&a3700_comphy 0 COMPHY_USB3>;
				phy-names = "usb";
			};

			udc@54100 {
				status = "disabled";
				phys = <&utmi_usb32>;
				phy-names = "usb";
			};

			usb3@58000 {
				compatible = "generic-xhci";
				status = "okay";
				phys = <&utmi_usb32>, /* utmi usb32 dedicated phy */
				       <&a3700_comphy 0 COMPHY_USB3>; /* usb3 comphy */
				phy-names = "usb2", "usb3";
			};

			usb@5e000 {
				status = "okay";
				phys = <&utmi_usb2>;
				phy-names = "usb";
			};

			utmi_usb32: utmi@5d000 {
				status = "okay";
			};

			utmi_usb2: utmi@5f000 {
				status = "okay";
			};

			sdhci1: sdhci@d0000 {
				wp-inverted;
				bus-width = <4>;
				cd-gpios = <&gpionb 3 GPIO_ACTIVE_LOW>;
				no-1-8-v;
				vqmmc-supply = <&vcc_sd_reg1>;
				marvell,pad-type = "sd";
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&sdio_pins>;
			};

			sata@e0000 {
				phys = <&a3700_comphy 2 COMPHY_SATA0>;
				status = "okay";
			};

			vcc_sd_reg1: regulator@0 {
				compatible = "regulator-gpio";
				regulator-name = "vcc_sd1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				gpios = <&gpionb 4 GPIO_ACTIVE_HIGH>;
				gpios-states = <0>;
				states = <1800000 0x1
					  3300000 0x0>;

				enable-active-high;
			};

			eip97: eip97@90000 {
				status = "okay";
			};
		};
	};
	dsa@0 {
		compatible = "marvell,dsa";
		dsa,ethernet = <&eth0>;
		dsa,mii-bus = <&mdio>;
		#address-cells = <2>;
		#size-cells = <0>;

		switch@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1 0>;

				port@0 {
						reg = <0>;
						label = "cpu";
						fixed-link {
							speed = <1000>;
							full-duplex;
						};
				};

				port@1 {
						reg = <1>;
						label = "wan";
						phy-handle = <&phy1>;
				};

				port@2 {
						reg = <2>;
						label = "lan0";
						phy-handle = <&phy2>;
				};

				port@3 {
						reg = <3>;
						label = "lan1";
						phy-handle = <&phy3>;
				};
		};
	};
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	status = "okay";
	phys = <&a3700_comphy 1 COMPHY_PCIE0>;
	phy-names = "comphy";
	reset-gpios = <&gpiosb 3 GPIO_ACTIVE_HIGH>;
};
