/*
 * Copyright (C) 2016 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */


/*
 * Device Tree file for Marvell Armada 7040 Emulation platform
 */

/ {
	model = "Marvell Armada-7040 Palladium";
	compatible = "marvell,armada7040-pd";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen { };

	cpus {
		cpu1: cpu@001 {
			status ="disabled";
		};
		cpu2: cpu@100 {
			status ="disabled";
		};
		cpu3: cpu@101 {
			status ="disabled";
		};
	};

	ap806 {
		config-space {
			sdhci@6e0000 {
				status = "okay";
				bus-width = <4>;
				no-1-8-v;
				non-removable; /* For now, need to configure the GPIO for card detect */
			};
			serial@512000 {
				clock-frequency = <384000>;
				clocks = <>;
				status = "okay";
			};
			i2c@511000 {
				status = "disabled";
				clock-frequency = <100000>;
			};
			axim-ddr-rd@840000 {
				status = "diabled";
			};
			axim-ddr-wr@841000 {
				status = "diabled";
			};
			axim-sb-rd@848000 {
				status ="disabled";
			};
			axim-sb-wr@849000 {
				status ="disabled";
			};
			etm0@c40000 {
				status ="disabled";
			};
			etm1@d40000 {
				status ="disabled";
			};
			etm2@e40000 {
				status ="disabled";
			};
			etm3@f40000 {
				status ="disabled";
			};
			etf0@809000 {
				status ="disabled";
			};
			etf1@80a000 {
				status ="disabled";
			};
			etf2@80b000 {
				status ="disabled";
			};
			etf3@80c000 {
				status ="disabled";
			};
			funnel@810000 {
				status ="disabled";
			};
			etf5@811000 {
				status ="disabled";
			};
			etr@812000 {
				status ="disabled";
			};

		};
	};

	cpn-110-master {
		config-space {
			serial@702000 {
				status = "disabled";
			};
			serial@702100 {
				status = "disabled";
			};
			serial@702200 {
				status = "disabled";
			};
			serial@702300 {
				status = "disabled";
			};
			sata: sata@540000 {
				status = "okay";
			};
			usb3h0: usb3@500000 {
				separated-phys-for-usb2-usb3;
				phys = <&utmi0>,
				       <&comphy0 1 COMPHY_USB3H0>;
				phy-names = "usb2", "usb3";
				status = "okay";
			};
			usb3h1: usb3@510000 {
				separated-phys-for-usb2-usb3;
				phys = <&utmi1>,
				       <&comphy0 4 COMPHY_USB3H1>;
				phy-names = "usb2", "usb3";
				status = "okay";
			};
			spi@700680 {
				status = "okay";
				spi-flash@0 {
					#address-cells = <0x1>;
					#size-cells = <0x1>;
					compatible = "jedec,spi-nor";
					reg = <0x0>;
					spi-max-frequency = <20000000>;
					partition@0 {
						label = "boot";
						reg = <0x0 0x200000>;
					};
					partition@200000 {
						label = "recovery_image";
						reg = <0x200000 0x200000>;
					};
					partition@400000 {
						label = "Filesystem";
						reg = <0x400000 0xc00000>;
					};
				};
			};
			nand@720000 {
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				status = "disabled";
				partition@0 {
					label = "U-Boot";
					reg = <0 0x200000>;
				};
				partition@200000 {
					label = "Linux";
					reg = <0x200000 0xd00000>;
				};
				partition@1000000 {
					label = "Filesystem";
					reg = <0x1000000 0x3f000000>;
				};
			};
			i2c1: i2c@701000 {
				status = "okay";
				clock-frequency = <100000>;
			};
			i2c2: i2c@701100 {
				status = "disabled";
			};
			axim-cp-rd@3c5000 {
				status = "disabled";
			};
			axim-cp-wr@3c6000 {
				status = "disabled";
			};
			axim-ppv2-rd@3c0000 {
				status = "disabled";
			};
			axim-ppv2-wr@3c1000 {
				status = "disabled";
			};
			axim-hb1-rd@3c8000 {
				status = "disabled";
			};
			axim-hb1-wr@3c9000 {
				status = "disabled";
			};

			mdio@12a200 {
				#address-cells = <1>;
				#size-cells = <0>;
				phy2: ethernet-phy@2 {
					reg = <0>;
				};
				phy3: ethernet-phy@3 {
					reg = <1>;
				};
			};
			gop {
				emac0: mac0 {
					phy-mode = "sgmii"; /* lane-2 */
				};
				emac2: mac2 {
					phy-mode = "sgmii"; /* lane-0 */
					phy-speed = <2500>;
				};
				emac3: mac3 {
					phy-mode = "rgmii"; /* rgmii-1 */
					phy = <&phy3>;
				};
			};
			ppv22@000000 {
				eth0: eth0@010000 {
					status = "okay";
				};
				eth1: eth1@020000 {
					status = "okay";
				};
				eth2: eth2@030000 {
					status = "okay";
				};
			};

			utmi0: utmi@580000 {
				status = "okay";
			};
			utmi1: utmi@581000 {
				status = "okay";
			};
		};

		pcie@0x640000 {
			status = "okay";
			phys = <&comphy0 5 COMPHY_PCIE2>;
			phy-names = "pcie-phy0";
		};
	};
};
