/*
 * Copyright (C) 2017 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Device Tree file for Marvell Armada-8084 Development board platform
 */

#include "armada-8084-db.dtsi"

/ {
	model = "Marvell 8084 board";
	compatible = "marvell,armada-8084-db", "marvell,armada-8084",
		     "marvell,armada-ap810-octa", "marvell,armada-ap810";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

&cp0_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp0_pcie0 {
	status = "okay";
	msi-parent =<&ap0_gic_its>;
};

&cp0_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp0_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp1_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp1_pcie0 {
	status = "okay";
	msi-parent =<&ap0_gic_its>;
};

&cp1_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp1_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp2_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp2_pcie0 {
	msi-parent =<&ap0_gic_its>;
};

&cp2_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp2_pcie2 {
	msi-parent =<&ap0_gic_its>;
};

&cp3_sata0 {
	status = "okay";
	sata-port@1 {
		reg = <1>;
		status = "okay";
	};
};

&cp3_pcie0 {
	msi-parent =<&ap0_gic_its>;
};

&cp3_pcie1 {
	msi-parent =<&ap0_gic_its>;
};

&cp3_pcie2 {
	msi-parent =<&ap0_gic_its>;
};
