/*
 * Copyright (C) 2016 Marvell Technology Group Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/*
 * Device Tree file for Marvell Armada 7040 Pcac Development board platform
 */

#include "armada-7040.dtsi"

/ {
	model = "Marvell Armada 7040 PCAC board";
	compatible = "marvell,armada7040-pcac", "marvell,armada7040",
			"marvell,armada-ap806-quad", "marvell,armada-ap806";
	#address-cells = <2>;
	#size-cells = <2>;

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	chosen { };

	ap806 {
		config-space {
			spi0: spi@510600 {
				status = "disabled";
			};
			serial@512000 {
				status = "okay";
			};
			i2c@511000 {
				status = "disabled";
				clock-frequency = <100000>;
			};
			sd_mmc_reg0: regulator@0 {
				gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
				gpios-states = <0>;
				states = <1800000 0x1
					3300000 0x0>;
				enable-active-high;
				status = "disabled";
			};
			sdhci@6e0000 {
				bus-width = <4>;
				no-1-8-v;
				non-removable; /* For now, need to configure the GPIO for card detect */
				status = "okay";
			};
		};
	};

	cpn-110-master {
		config-space {
			sata: sata@540000 {
				status = "okay";
				sata-port@0 {
					status = "disabled";
				};
				sata-port@1 {
					status = "okay";
				};
			};
			i2c2: i2c@701100 {
				status = "disabled";
			};
			i2c1: i2c@701000 {
				status = "okay";
				clock-frequency = <100000>;
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins>;
				eeprom@57 {
					compatible = "at24,24c64";
					reg = <0x57>;
					pagesize = <32>;
				};
				eeprom@50 {
					compatible = "at24,24c64";
					reg = <0x50>;
					pagesize = <32>;
				};
				expander0: pca9555@21 {
					compatible = "nxp,pca9555";
					pinctrl-names = "default";
					gpio-controller;
					#gpio-cells = <2>;
					reg = <0x21>;
				};
			};
			usb3h0: usb3@500000 {
				status = "okay";
				usb-phy = <&usb3h0_phy>;
			};
			usb3h1: usb3@510000 {
				status = "disabled";
				usb-phy = <&usb3h1_phy>;
			};
			spi@700680 {
				status = "okay";
				spi-flash@0 {
					#address-cells = <0x1>;
					#size-cells = <0x1>;
					compatible = "jedec,spi-nor";
					reg = <0x0>;
					spi-max-frequency = <20000000>;
					partition@0 {
						label = "boot";
						reg = <0x0 0x200000>;
					};
					partition@200000 {
						label = "recovery_image";
						reg = <0x200000 0x200000>;
					};
					partition@400000 {
						label = "Filesystem";
						reg = <0x400000 0xc00000>;
					};
				};
			};

			nand@720000 {
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				status = "disabled";
				partition@0 {
					label = "U-Boot";
					reg = <0 0x200000>;
				};
				partition@200000 {
					label = "Linux";
					reg = <0x200000 0xd00000>;
				};
				partition@1000000 {
					label = "Filesystem";
					reg = <0x1000000 0x3f000000>;
				};
			};

			mdio@12a200 {
				#address-cells = <1>;
				#size-cells = <0>;
				phy1: ethernet-phy@1 {
					reg = <1>;
				};
			};

			gop {
				emac0: mac0 {
					phy-mode = "sfi"; /* lane-2 */
				};
				emac2: mac2 {
					phy-mode = "rgmii"; /* lane-0 */
					phy = <&phy1>;
				};
				emac3: mac3 {
					phy-mode = "none"; /* rgmii-1 */
				};
			};
			ppv22@000000 {
				l4_chksum_jumbo_port = <0>;
				eth0: eth0@010000 {
					status = "okay";
				};
				eth1: eth1@020000 {
					status = "okay";
				};
				eth2: eth2@030000 {
					status = "disabled";
				};
			};
		};

		pcie-ep@0x600000 {
			status = "okay";
		};
	};
	usb3h0_phy: usb3-h0-phy {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&exp_usb3h0_vbus>;
	};
	usb3h1_phy: usb3-h1-phy {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&exp_usb3h1_vbus>;
	};
	exp_usb3h0_vbus: usb3-0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb3-0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&expander0 0 GPIO_ACTIVE_HIGH>;
	};
	exp_usb3h1_vbus: usb3-1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb3-1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&expander0 1 GPIO_ACTIVE_HIGH>;
	};
};
