config ARM64_MPAM_DRIVER
	bool
	default y if ARM64_MPAM
	select ACPI_MPAM if ACPI

config ARM64_MPAM_RESCTRL_FS
	bool
	default y if ARM64_MPAM_DRIVER && RESCTRL_FS
	select RESCTRL_RMID_DEPENDS_ON_CLOSID
	select RESCTRL_IOMMU if ARM_SMMU_V3

config MPAM_KUNIT_TEST
	bool "KUnit tests for MPAM driver " if !KUNIT_ALL_TESTS
	depends on KUNIT=y
	default KUNIT_ALL_TESTS
	help
	  Enable this option to run tests in the MPAM driver.

	  If unsure, say N.
