config ARCH_MVEBU
	bool "Marvell SOCs with Device Tree support" if ARCH_MULTI_V7
	select CLKSRC_MMIO
	select COMMON_CLK
	select GENERIC_CLOCKEVENTS
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	select PINCTRL
	select PLAT_ORION
	select SPARSE_IRQ
	select CLKDEV_LOOKUP
	select MVEBU_CLK_CORE
	select MVEBU_CLK_CPU
	select MVEBU_CLK_GATING
	select MVEBU_CLK_COREDIV
	select MVEBU_MBUS
	select ZONE_DMA if ARM_LPAE
	select ARCH_REQUIRE_GPIOLIB
	select MIGHT_HAVE_PCI
	select PCI_QUIRKS if PCI
	select RESET_CONTROLLER

if ARCH_MVEBU

menu "Marvell SOC with device tree"

config MACH_ARMADA_370_XP
	bool
	select ARMADA_370_XP_TIMER
	select HAVE_SMP
	select CACHE_L2X0
	select CPU_PJ4B

config MACH_ARMADA_370
	bool "Marvell Armada 370 boards"
	select MACH_ARMADA_370_XP
	select PINCTRL_ARMADA_370
	help
	  Say 'Y' here if you want your kernel to support boards based
	  on the Marvell Armada 370 SoC with device tree.

config MACH_ARMADA_375
	bool "Marvell Armada 375 boards"
	select ARM_ERRATA_720789
	select ARM_ERRATA_753970
	select ARM_NEEDS_SMP_COHERENCY_ON_UP
	select ARM_GIC
	select ARMADA_370_XP_TIMER
	select CACHE_L2X0
	select CPU_V7
	select HAVE_SMP
	select HAVE_ARM_SCU
	select HAVE_ARM_TWD if LOCAL_TIMERS
	select NEON
	select PINCTRL_ARMADA_375
	select USB_ARCH_HAS_XHCI
	help
	  Say 'Y' here if you want your kernel to support boards based
	  on the Marvell Armada 375 SoC with device tree.

config MACH_ARMADA_380
	bool "Marvell Armada 380/385 boards"
	select USB_ARCH_HAS_XHCI
	select ARM_ERRATA_720789
	select ARM_ERRATA_753970
	select ARM_NEEDS_SMP_COHERENCY_ON_UP
	select ARM_GIC
	select ARMADA_370_XP_TIMER
	select CACHE_L2X0
	select CPU_V7
	select HAVE_SMP
	select HAVE_ARM_SCU
	select HAVE_ARM_TWD if LOCAL_TIMERS
	select NEON
	select PINCTRL_ARMADA_38X
	select USB_ARCH_HAS_XHCI
	help
	  Say 'Y' here if you want your kernel to support boards based
	  on the Marvell Armada 380/385 SoC with device tree.

config MACH_ARMADA_XP
	bool "Marvell Armada XP boards"
	select MACH_ARMADA_370_XP
	select PINCTRL_ARMADA_XP
	help
	  Say 'Y' here if you want your kernel to support boards based
	  on the Marvell Armada XP SoC with device tree.

config A375_CPU1_ENABLE_WA
	depends on SMP
	bool "SMP CPU1 Enable WA"
	default y

config A375_Z1_USB3_LFPS_FREQ_WA
	bool "Enable the LFPS frequency workaround for USB3"
	default y
	help

	  This flag enables a workaround for USB3 in Armada 375. It fixes
	  the USB3 LFPS timing to fix some clock issues in the integration
	  of USB3. This WA is needed only for Z1 devices

endmenu

endif
