#
# Telephony device configuration
#

menuconfig PHONE
	bool "Telephony devices support"
	default y
	---help---
	  Say Y here to get to see options for hardware telephony devices.
	  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if PHONE

config MV_INCLUDE_TDM
	bool "Mvebu TDM Telephony"
	depends on ARCH_MVEBU
	default y
	---help---
	  This driver supports the TDM-based telephony interface
	  units in the following Marvell SoC families:
	  1. ARMADA-370.
	  2. ARMADA-375.
	  3. ARMADA-38x.
	  4. ARMADA-XP.

if MV_INCLUDE_TDM
	source "drivers/telephony/mvebu_phone/Kconfig"
endif

endif # PHONE
