/*
 * Device Tree file for Marvell Armada 38x boards: Modular file to be updated by U-Boot board-setup
 * (DB-88F6820)
 *
 *  Copyright (C) 2013 Marvell
 *
 * Thomas Petazzoni <thomas.petazzoni@free-electrons.com>
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without any
 * warranty of any kind, whether express or implied.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "armada-385-388.dtsi"

/ {
	model = "Marvell Armada 38x Modular Device Tree";
	compatible = "marvell,a385-db", "marvell,armada385", "marvell,armada38x";

	chosen {
		bootargs = "console=ttyS0,115200 earlyprintk";
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x10000000>; /* 256 MB */
	};

	soc {

		internal-regs {
			ethernet@70000 {
				phy = <&phy0>;
				phy-mode = "rgmii";	/* RGMII for DB-BP, DB-GP, & DB-381 */
			};

			ethernet@30000 {
				phy = <&phy1>;
				phy-mode = "rgmii";	/* RGMII for DB-BP, DB-GP, & DB-381 */
			};

			ethernet@34000 {
				phy = <&phy2>;
				phy-mode = "sgmii";	/* SGMII for DB-AP */
			};

			i2c0: i2c@11000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins>;
				status = "okay";
				clock-frequency = <100000>;
				audio_codec: audio-codec@4a {
					compatible = "cirrus,cs42l51";
					reg = <0x4a>;
				};

				expander1: pca9555@21 {
					compatible = "nxp,pca9555";
					pinctrl-names = "default";
					gpio-controller;
					#gpio-cells = <2>;
					reg = <0x21>;
				};
			};

			i2c1: i2c@11100 {
				status = "okay";
				clock-frequency = <100000>;
			};

			mdio {
				phy0: ethernet-phy@0 {
					reg = <0>;	/* PHY address = 0x0 for DB-BP, DB-GP, & DB-381 */
				};

				phy1: ethernet-phy@1 {
					reg = <1>;	/* PHY address = 0x1 for DB-BP, DB-GP, & DB-381 */
				};

				phy2: ethernet-phy@2 {
					reg = <4>;	/* PHY address = 0x4 for DB-AP */
				};
			};

			sdhci@d8000 {
				broken-cd;
				wp-inverted;
				bus-width = <8>;
				no-1-8-v;
			};

			spi0: spi@10600 {
				spi-flash@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "n25q128a13"; /* this flash is used for DB-BP, DB-GP and DB-BP381 */
					reg = <0>; /* Chip select 0 */
					spi-max-frequency = <108000000>;
					mtd0@00000000 {
						label = "U-Boot";
						reg = <0x00000000 0x00400000>;
						read-only;
					};

					mtd1@00400000 {
						label = "Root";
						reg = <0x00400000 0x00c00000>;
					};
				};
			};

			spi1: spi@10680 {
				pinctrl-0 = <&spi1_pins>;
				pinctrl-names = "default";

				slic@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "mv_slic";
					reg = <0>; /* Chip select 0 */
					spi-max-frequency = <3000000>;
					spi-1byte-cs;
					spi-cpol;
					spi-cpha;
				};
				spi-flash@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "n25q256a"; /* this flash is used for AMC board */
					reg = <0>; /* Chip select 0 */
					spi-max-frequency = <108000000>;
					mtd0@00000000 {
						label = "U-Boot";
						reg = <0x00000000 0x00400000>;
						read-only;
					};

					mtd1@00400000 {
						label = "Root";
						reg = <0x00400000 0x00c00000>;
					};
				};
			};

			/*
			 * 1GB Flash via NFC NAND controller
			 * should be disabled when the board boots
			 * from SPI flash, since NFC shares the same
			 * pins with SPI0 and requires SLM-1358 jumper.
			 * However the u-boot DTB parser will
			 * handle this situation and disable/remove
			 * unnessesary devices according to board
			 * boot-up configuration.
			 */
			nfc: nand@d0000 {
				#address-cells = <1>;
				#size-cells = <1>;

				nfc,nfc-mode  = "normal";	/* normal or ganged */
				nfc,nfc-dma   = <0>;		/* 0 for no, 1 for dma */
				nfc,nfc-width = <8>;
				nfc,ecc-type  = <1>;		/* 4 bit */
				nfc,num-cs    = <1>;

				mtd0@00000000 {
					label = "U-Boot";
					reg = <0x00000000 0x00600000>;
					read-only;
				};

				mtd1@00600000 {
					label = "uImage";
					reg = <0x00600000 0x00400000>;
					read-only;
				};

				mtd2@00a00000 {
					label = "Root";
					reg = <0x00a00000 0x3f600000>;
				};
			};

			usb@58000 {
				status = "disabled";
			};

			usb3@f0000 {
				status = "disabled";
			};

			usb3@f8000 {
				status = "disabled";
			};

			crypto@9D000 {
				status = "okay";
			};

			pm_pic {
				pinctrl-0 = <&pic_pins>;
				pinctrl-names = "default";
				ctrl-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>,	/* mpp33: default for DB-GP */
					     <&gpio1 2 GPIO_ACTIVE_LOW>,	/* mpp34: default for DB-GP */
					     <&gpio1 3 GPIO_ACTIVE_LOW>,	/* mpp35: default for DB-GP */
					     <&gpio0 21 GPIO_ACTIVE_LOW>,       /* mpp21: default for DB-AP */
				             <&gpio0 47 GPIO_ACTIVE_LOW>;       /* mpp47: default for DB-AP */

			};

			pinctrl {
				pic_pins: pic-pins-0 {
					marvell,pins = "mpp33", "mpp34", "mpp35";	/* default for DB-GP */
					marvell,function = "gpio";
				};

				i2c0_pins: i2c-pins-0 {
					marvell,pins = "mpp2", "mpp3";
					marvell,function = "i2c0";
				};

				xhci0_vbus_pins: xhci0-vbus-pins {
					marvell,pins = "mpp44";
					marvell,function = "gpio";
				};
			};

			tdm@b0000 {
				pinctrl-0 = <&tdm_pins>;
				pinctrl-names = "default";
				pclk-freq-mhz = <8>;
			};

			audio-controller@e8000 {
				pinctrl-0 = <&i2s_pins>;
				pinctrl-names = "default";
			};
		};

		pcie-controller {
			status = "okay";
		};
	};

	/* usb3 vbus controlled via gpio expander1 */
	usb3_phy_exp1: usb3-phy-exp1 {
		status = "disabled";
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_usb3_vbus_exp1>;
	};

	reg_usb3_vbus_exp1: usb3-vbus-exp1 {
		status = "disabled";
		compatible = "mv,vbus-regulator";
		regulator-name = "usb3-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		gpio = <&expander1 15 GPIO_ACTIVE_HIGH>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	/* usb3 vbus controlled via gpio pin */
	usb3_phy_gpio: usb3-phy-gpio {
		status = "disabled";
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_usb3_vbus_gpio>;
	};

	reg_usb3_vbus_gpio: usb3-vbus-gpio {
		status = "disabled";
		compatible = "mv,vbus-regulator";
		pinctrl-names = "default";
		pinctrl-0 = <&xhci0_vbus_pins>;
		regulator-name = "xhci0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

        sound {
                compatible = "marvell,a385db-audio";
                marvell,audio-codec = <&audio_codec &spdif_out &spdif_in>;
        };
};
