/*
 * Device Tree file for Marvell AlleyCat3 RD board
 * (RD-XC3-48G4XG)
 *
 * Copyright (C) 2017 Marvell
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without any
 * warranty of any kind, whether express or implied.
 */

/dts-v1/;
#include "msys-ac3.dtsi"

/ {
	model = "Marvell AlleyCat3 Development Board DB-XC3-48G4XG";
	compatible = "marvell,msys", "marvell,msys-ac3",
		     "marvell,msys-ac3-db", "marvell,armada-370-xp";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		/*
		 * 1GB of plug-in RAM modules by default. The amount
		 * of memory available can be changed by the
		 * bootloader according the size of the module
		 * actually plugged.
		 */
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x40000000>;
	};

	soc {
		ranges = <MBUS_ID(0xf0, 0x01) 0 0 0xf1000000 0x100000
			  MBUS_ID(0x01, 0x1d) 0 0 0xfff00000 0x100000
			  MBUS_ID(0x01, 0x2f) 0 0 0xf0000000 0x1000000
			  MBUS_ID(0x03, 0x00) 0 0 0xf8000000 0x4000000	/* switch */
			  MBUS_ID(0x08, 0x00) 0 0 0xfc000000 0x100000>;	/* dfx */

		internal-regs {
			spi0: spi@10600 {
				status = "okay";

				spi-flash@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "jedec,spi-nor";
					reg = <0>; /* Chip select 0 */
					spi-max-frequency = <108000000>;
				};
			};

			i2c0: i2c@11000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins>;
				eeprom@50 {
					compatible = "atmel,24c64";
					pagesize = <32>;
					reg = <0x50>;
					marvell,board_id_reg = <0x7>;
				};
			};

			pinctrl@18000 {
				pp-pin {
					marvell,pins = "mpp13";
					marvell,function = "pp";
				};

				pex-pin {
					marvell,pins = "mpp5";
					marvell,function = "pex";
					linux,phandle = <0xb>;
					phandle = <0xb>;
				};
			};

			serial@12000 {
				status = "okay";
			};

			serial@12100 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart1_pins>;
				status = "okay";
			};

			usb@50000 {
				status = "okay";
			};

			ethernet@70000 {
				status = "okay";
				compatible = "marvell,armada-xp-neta";
				phy-mode = "sgmii";
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
			eth1:ethernet@74000 {
				status = "okay";
				compatible = "marvell,armada-xp-neta";
				phy-mode = "sgmii";
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			nfc: nand@d0000 {
				status = "okay";
				#address-cells = <1>;
				#size-cells = <1>;

				num-cs = <1>;
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				marvell,nand-keep-config;
				marvell,nand-enable-arbiter;
				nand-on-flash-bbt;

				partition@0 {
					label = "U-Boot";
					reg = <0x00000000 0x00800000>;
					read-only;
				};

				partition@800000 {
					label = "uImage";
					reg = <0x00800000 0x00800000>;
					read-only;
				};

				partition@1000000 {
					label = "Root";
					reg = <0x01000000 0x3f000000>;
				};
			};
		};

		pcie-controller {
			compatible = "marvell,armada-370-pcie";
			status = "okay";
			device_type = "pci";
			#address-cells = <0x3>;
			#size-cells = <0x2>;
			msi-parent = <0x2>;
			bus-range = <0x0 0xff>;
			ranges =
			       <0x82000000 0 0x40000 MBUS_ID(0xf0, 0x01) 0x40000 0 0x00002000
				0x82000000 0x1 0     MBUS_ID(0x04, 0xe8) 0 1 0
				0x81000000 0x1 0     MBUS_ID(0x04, 0xe0) 0 1 0>;

			pcie@1,0 {
				device_type = "pci";
				assigned-addresses = <0x82000800 0x0 0x40000 0x0 0x2000>;
				reg = <0x800 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				#interrupt-cells = <1>;
				ranges = <0x82000000 0 0 0x82000000 0x1 0 1 0
					  0x81000000 0 0 0x81000000 0x1 0 1 0>;
				interrupt-map-mask = <0 0 0 0>;
				interrupt-map = <0 0 0 0 0x2 0x3a>;
				marvell,pcie-port = <0x0>;
				marvell,pcie-lane = <0x0>;
				clocks = <0x9 0x5>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <0xb>;
			};
		};
	};
};
